torch
torchvision
torchaudio
transformers
accelerate
opencv-python
numpy
pillow
tqdm
matplotlib
coppeliasim-zmqremoteapi-client
sentencepiece
einops
timm
huggingface-hub
gymnasium
stable-baselines3
numpy
opencv-python
scipy
